{% extends "./base_gestion_datos.html" %}

{% block title %} Gestión de Problemas {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2>Gestión de Problemas</h2>
        <div class="card">
            <div class="card-body">
                <form action="/data/registrarProblema/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtProblema" name="txtProblema" class="form-control" placeholder="Nombre"
                            maxlength="40" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtDescripcion" name="txtDescripcion" class="form-control" placeholder="Descripcion"
                            maxlength="40" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de Problemas</h1>
        <!-- Contenedor scrollable para la tabla -->
        <div class="table-responsive py-2" style="max-height: 600px; overflow-y: auto;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ID</th>
                        <th>Problema</th>
                        <th>Descripción</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in problemas %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ p.id }}</td>
                        <td>{{ p.nombre }}</td>
                        <td>{{ p.descripcion }}</td>
                        <td>
                            <!-- Botones en una fila -->
                            <div class="d-flex justify-content-start">
                                <!-- Botón de Editar -->
                                <button class="btn btn-info mr-2" data-toggle="modal" data-target="#editProblemaModal{{ p.id }}">Editar</button>
                                <!-- Botón de Eliminar -->
                                <a href="/data/eliminarProblema/{{ p.id }}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que quieres eliminar a {{ p.nombre }}?')">Eliminar</a>
                            </div>
                        </td>
                    </tr>
    
                    <!-- Modal para editar problema -->
                    <div class="modal fade" id="editProblemaModal{{ p.id }}" tabindex="-1" role="dialog" aria-labelledby="editProblemaModalLabel{{ p.id }}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editProblemaModalLabel{{ p.id }}">Edición de Problema</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="/data/edicionProblema/{{ p.id }}/" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="text" id="txtProblema" name="txtProblema" value="{{ p.nombre }}" class="form-control" placeholder="Nombre del Problema" maxlength="20" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" id="txtDescripcion" name="txtDescripcion" value="{{ p.descripcion }}" class="form-control" placeholder="Descripción" maxlength="40" required>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
     
{% endblock %}
